.body{
    background-image: linear-gradient(to bottom, rgba(245, 246, 252, 0.22), rgba(255, 255, 255, 0.43)),
     url(/assets/images/wallpaper.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

h1{
    font-family: 'Poppins', sans-serif;
    color: white;
}
nav{
    width: 100%;
}
.form-control{
    max-width: 510px;
    
}

#movies-searchable{
    margin-top: 50px;
    margin-bottom: 50px;
}

.movie{
    margin-bottom: 70px;
}

section{
    display:flex;
    width:100%;
    overflow-x: auto;
}

section img{
    width:300px;
    height: 300px;
    border-radius: 20px;
    margin: 0 20px;  
}

.content{
    border:1.5px solid rgb(185, 185, 185);
    display:none;
    padding: 20px;
}

#content-close{
    cursor: pointer;
}

.content div {
    display: flex;
    justify-content: space-around;
    align-items:center;
    flex-wrap:wrap;
    margin:20px;
}

.content-display{
    display:block;
    justify-content: space-around;
    align-items:center;
    flex-wrap:wrap;
    margin:20px;
    margin: 0 20px;
    width: 100%;
}

img:hover {
    margin-left: 0 50px;
    cursor: pointer;
    -webkit-animation:jello-horizontal .9s both;animation:jello-horizontal .9s both
}

@-webkit-keyframes jello-horizontal{
    0%{-webkit-transform:scale3d(1,1,1);transform:scale3d(1,1,1)}
    30%{-webkit-transform:scale3d(1.25,.75,1);transform:scale3d(1.25,.75,1)}
    40%{-webkit-transform:scale3d(.75,1.25,1);transform:scale3d(.75,1.25,1)}
    50%{-webkit-transform:scale3d(1.15,.85,1);transform:scale3d(1.15,.85,1)}
    65%{-webkit-transform:scale3d(.95,1.05,1);transform:scale3d(.95,1.05,1)}
    75%{-webkit-transform:scale3d(1.05,.95,1);transform:scale3d(1.05,.95,1)}
    100%{-webkit-transform:scale3d(1,1,1);transform:scale3d(1,1,1)}}
    @keyframes jello-horizontal{
        0%{-webkit-transform:scale3d(1,1,1);transform:scale3d(1,1,1)}
        30%{-webkit-transform:scale3d(1.25,.75,1);transform:scale3d(1.25,.75,1)}
        40%{-webkit-transform:scale3d(.75,1.25,1);transform:scale3d(.75,1.25,1)}
        50%{-webkit-transform:scale3d(1.15,.85,1);transform:scale3d(1.15,.85,1)}
        65%{-webkit-transform:scale3d(.95,1.05,1);transform:scale3d(.95,1.05,1)}
        75%{-webkit-transform:scale3d(1.05,.95,1);transform:scale3d(1.05,.95,1)}
        100%{-webkit-transform:scale3d(1,1,1);transform:scale3d(1,1,1)}}
